body{	background-image: url("/Users/florianblanchet/Documents/Gestionnaire de lien/images/DJMauve.jpg");
		background-repeat: no repeat;
		background-attachment:fixed;
		background-position: top;

			}

/*Taille des icones */
img {	width: 50px;
		height: 50px;
		border-radius: 8px;	}
		


/* Positionnement moteur de recherche */
.recherche{
	position: absolute;
	top:60px;
	left: 25%;}

/* Positionnement moteur de recherche */
.ajout{
	position: absolute;
	top: 89px;
	right: 149px;
	}

.supprimer{
	position: absolute;
	top: 67px;
	right: 134px;
	}

.connexion{
	position: absolute;
	top: 17px;
	right: 30px;
	color: rgb(224,180,70);

}

/*Inutile : Pour ancienne barre latérale */
/*nav{background-color: rgba(255, 255, 255, 0.3);
	font: bold 20px "Courier New", Courier, mono;
	color: white;
	position:fixed;
	display: inline-block;
	text-align: right;
	top:20px;
	left: 25%;

	}

nav ul{ 
	list-style-type: none;}

nav li{    
	display: inline-block;
    margin-right: 50px;}
		*/						

/* Design des titres */
h1{	color:  #f3eee6;
	text-align: center;
	font: 50px "Courier New", Courier, mono;	}

h2{	color: rgb(224,180,70);
	font-family: "Courier New", Courier, mono;
	text-align: center;
	text-shadow: 0 0 3px rgba(8, 8, 8, 0.9);
		}

/* definition des blocs avec liens */
section{	display:inline-block;  
			position: absolute;
			width:20%;
			height:300px;
		}

/* Positionnement des blocs */
.sect1{	left:5%;					
			top:  150px;}
.sect2{	left:35%;
			top:  150px;}
.sect3{	left:65%;
			top:  150px;}
.sect4{	left: 5%;
		top:  550px;}
.sect5{	left:35%;
			top:  550px;}


/*Exception si la taille de l'écran est trop petite, on réorganise*/
@media screen and (max-width: 800px){

	section{	display:inline-block;  
			position: absolute;
			width:30%;
			height:300px;}

	.sect1{	left:5%;					
			top:  150px;}
	.sect2{	left:55%;
			top:  150px;}
	.sect3{	left:5%;	
			top:  550px;}
	.sect4{	left:55%;
			top:  550px;}
	.sect5{	left:5%;					
			top:  950px;}

	.recherche{
	position: absolute;
	top:60px;
	left: 5%;}

	.ajout{
	position: absolute;
	top:33px;
	left: -62%;}

	.supprimer{
	position: absolute;
	top:54px;
	left: -62%;}

	.connexion{
	position: absolute;
	top:0px;
	}

	}

/*Design des blocs application*/
aside{	position:absolute;
		background-color: rgba(255,255,255, 0.2);
		border: 1px solid rgba(224,180,70,1);
		border-radius: 20px;
		height: 100%;
		padding:10px;
		overflow:auto;
		box-shadow: 7px -7px 10px rgba(255,255,255, 0.4);
		width:100%;	}

/*Pied de page*/
footer{	position:absolute;
		top:1400px;
		left:35%;
		text-align: center;
		font-size: 22px;
		font-variant: small-caps;
		text-shadow: 0 0 2px #f9f7f7;}